!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      table {
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid black;
        padding: 1em;
      }
  %body
    %h1 Articles
    %button= link_to 'New Article', "/articles/new"
    %br/
    %br/
    %table
      %thead
        %tr
          %th Title
          %th Author
          %th Content
          %th Action
      %tbody
        - @articles.each do |x|
          %tr
            %td= x.title
            %td= x.author
            %td= x.content
            %td
              = link_to 'Show', x
              = link_to 'Edit', edit_article_path(x)
              = link_to 'Delete', x, method: :delete, data: {confirm: "Are you sure"}
