%h1 Show Article
%p
  %b Title:
  = @article.title
%p
  %b Author:
  = @article.author
%p
  %b Content:
  = @article.content

%h1 Comments
= render 'comments/index'

= render 'comments/form'

%br/
%h1 Categories
= render 'categories/index'
= render 'categories/form'